#oe_main_menu_navbar {
	display: none;
  min-height: 34px;
  z-index: 1001;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  -ms-border-radius: 0px;
  -o-border-radius: 0px;
  border-radius: 0px;
  margin-bottom: 0px;
}